<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/productInsert.css}">
</head>

<body>
	<header th:replace="/include/header.html"></header>
	<div id="bodyrap">
	<form id="insertForm" action="/product/insert" enctype="multipart/form-data" method="post">
		 <div class="insert_title">
        <p><span><strong>상품 등록</strong></span></p>
    </div>
		<div id="modelBox">
			<label for="productModel" class="form-label">상품 모델명<span>*</span></label>
			<input type="text" id="productModel" name="productModel" class="form-control" placeholder="상품 모델번호을 입력해주세요.">
		</div>
		<div id="nameBox">
			<label for="productName" class="form-label">상품 이름<span>*</span></label>
			<input type="text" id="productName" name="productName" class="form-control" placeholder="상품 모델명을 입력해주세요.">
		</div>
		
		
		<div id="formBox">
			<div>상품 메뉴<span>*</span></div>
			<label for="formId1" class="form_radio">데스크탑</label>
			<input class="form-check-input" type="radio" id="formId1" name="formId" value="1">
			<label for="formId2" class="form_radio">빌트인</label>
			<input class="form-check-input" type="radio" id="formId2" name="formId" value="2">
			<label for="formId3" class="form_radio">스탠드</label>
			<input class="form-check-input" type="radio" id="formId3" name="formId" value="3">
		</div>
		
		
		<div id="function_Box"  class="" role="group" >
			<div>상품 메뉴<span>*</span></div>
			<input type="checkbox" id="btncheck1" name="function" value="1" class="btn-check"  autocomplete="off">
			<label for="btncheck1" class="btn btn-outline-primary">냉정수기</label>
			<input type="checkbox" id="checkbox2" name="function" value="2" class="btn-check"  autocomplete="off">
			<label for="checkbox2" class="btn btn-outline-primary">온정수기</label>
			<input type="checkbox" id="checkbox3" name="function" value="3" class="btn-check"  autocomplete="off">
			<label for="checkbox3" class="btn btn-outline-primary">냉온정수기</label>
			<input type="checkbox" id="checkbox4" name="function" value="4" class="btn-check"  autocomplete="off">
			<label for="checkbox4" class="btn btn-outline-primary">얼음</label>
			<input type="checkbox" id="btncheck3" name="function" value="5" class="btn-check"  autocomplete="off">
			<label for="btncheck3" class="btn btn-outline-primary">탄산</label>
		</div>
		
		<div id="dateBox">
			<div>제품출시일<span>*</span></div>
			<input type="date" id="productDate" name="productDate">
		</div>
		<div id="imageBox">
			<label for="productFile" class="form-label">이미지 파일 선택<span>*</span></label>
			<input type="file" id="productFile" class="form-control" name="productFile">
		</div>
			<div id="contractForm">
				
			<button id="addButton" class="btn btn-dark">약정 추가</button>
		</div>
		<button class="insert-btn">확인</button>
	</form>
	</div>
</body>
<footer th:replace="/include/footer.html"></footer>
<script>
	var itemIndex = 0;
    var button = document.getElementById('addButton');
	button.addEventListener("click", function (event) {
		event.preventDefault();
		if(itemIndex < 3)
        addItem();
	})

	function addItem() {
		var form = document.getElementById('contractForm');
		
		var divBox = document.createElement('div');
		divBox.className = 'functionBox';
		var div = document.createElement('div');
		div.className= 'priceBox';

		var inputYear0 = document.createElement('input');
		var inputYear3 = document.createElement('input');
		var inputYear6 = document.createElement('input');
		
		inputYear0.type = 'radio';
		inputYear0.name = 'contract[' + itemIndex + '].contractYear';
		inputYear0.value = '0';

		
		inputYear3.type = 'radio';
		inputYear3.name = 'contract[' + itemIndex + '].contractYear';
		inputYear3.value = '3';


		inputYear6.type = 'radio';
		inputYear6.name = 'contract[' + itemIndex + '].contractYear';
		inputYear6.value = '6';

	
		var labelYear0 = document.createElement('label');
        labelYear0.textContent = '구매';
        inputYear0.style.marginLeft = '10px';

        var labelYear3 = document.createElement('label');
        labelYear3.textContent = '3년';
        inputYear3.style.marginLeft = '10px';

        var labelYear6 = document.createElement('label');
        labelYear6.textContent = '6년';
        inputYear6.style.marginLeft = '10px';
        
		var inputPrice = document.createElement('input');
		inputPrice.type = 'number';
		inputPrice.name = 'contract[' + itemIndex + '].contractPrice';
		inputPrice.placeholder = '가격(렌탈료)';

		divBox.appendChild(inputYear0);
        divBox.appendChild(labelYear0);
        divBox.appendChild(inputYear3);
        divBox.appendChild(labelYear3);
        divBox.appendChild(inputYear6);
        divBox.appendChild(labelYear6);
        divBox.appendChild(div);
        divBox.appendChild(inputPrice);
        
        form.appendChild(divBox);
		itemIndex++;
	}
</script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>