<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/productDetail.css}">
	<title>Document</title>
</head>

<body>
	<header th:replace="/include/header.html"></header>
	<div id="productBox">
		<div id="productImageBox">
			<img th:src="'data:' + ${product.imageType} + ';base64,' + ${product.imageFile}" alt="productImage"
				id="productImage">
		</div>
		<div id="productDetailBox">
			<div id="productNameBox">
				<div th:text="${product.productName}" id="productName"></div>
				<div th:text="${product.productModel}" id="productModel"></div>
				<hr>
				<div id="productFunctionBox">
					<h3>기능</h3>
					<span th:each="func : ${product.functionList}" th:text="${func}"
						class="functions btn btn-dark"></span>
				</div>
			</div>
			<div id="productBuyBox">
				<div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
					<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
					<label class="btn btn-outline-secondary " for="btnradio1">렌탈</label>

					<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btnradio2">구매</label>
				</div>
				<hr>
				<div id="contractBox">
					<div class="contract rentalDiv">
						<div>약정</div>
						<div id="contractAll">
							<div th:if="${cont.contractYear != 0}" th:each="cont, contstat : ${product.contract}"
								th:data-price="${cont.contractPrice}" th:text="${cont.contractYear} + '년 약정'"
								th:data-contract-id="${cont.contractId}" class="rental btn btn-secondary btn-sm"></div>
						</div>
					</div>
					<div class="contract buyDiv">
						<div>상품 구매</div>
						<div id="contractAll">
							<div th:if="${cont.contractYear == 0}" th:each="cont, contstat : ${product.contract}"
								th:data-price="${cont.contractPrice}" th:text="'즉시 구매'"
								th:data-contract-id="${cont.contractId}" class="rental btn btn-secondary btn-sm"></div>
						</div>
					</div>
					<div id="rentalBox" class="rentalDiv">
						<div>월 렌탈료 : <span id="rentalPrice"></span></div>
					</div>
					<div id="rentalBox" class="buyDiv">
						<div>구매가 : <span id="buyPrice"></span></div>
					</div>
				</div>
				<div id="buttonBox">
					<div class="rentalDiv">
						<form method="post" class="basketButton">

							<input type="hidden" th:value="${product.productId}" name="productId">
							<input type="hidden" name="contractId" value="" class="contractId">
							<button type="button" class="btn btn-primary btn-lg" onclick="sendBasketRequest(event)"
								data-bs-toggle="modal" data-bs-target="#exampleModal">
								장바구니
							</button>
						</form>
						<form method="post" class="buyButton" action="/order">
							<input type="hidden" th:value="${product.productId}" name="contractList[0].productId">
							<input type="hidden" name="contractList[0].contractId" value="" class="contractId">
							<button class="btn btn-primary btn-lg">렌탈하기</button>
						</form>
					</div>
					<div class="buyDiv">
						<form method="post" class="basketButton" accept="order/basket">
							<input type="hidden" th:value="${product.productId}" name="productId">
							<input type="hidden" name="contractId" value="" class="contractId">
							<button type="button" class="btn btn-primary btn-lg" onclick="sendBasketRequest(event)">
								장바구니
							</button>
						</form>
						<form method="post" class="buyButton" action="/order">
							<input type="hidden" th:value="${product.productId}" name="contractList[0].productId">
							<input type="hidden" name="contractList[0].contractId" value="" class="contractId">
							<button class="btn btn-primary btn-lg">구매하기</buttona>
						</form>
					</div>
				</div>
			</div>
			<!-- Button trigger modal -->
			<div id="admin">
				<button type="button" class="redButton btn btn-danger" data-bs-toggle="modal"
					data-bs-target="#staticBackdrop">
					삭제하기
				</button>
				<a type="button" class="btn btn-danger" th:href="'update/' + ${product.productId}">수정하기</a>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">상품 삭제</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							해당 상품의 정보가 모두 삭제됩니다. 정말로 삭제하시겠습니까?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<a type="button" class="btn btn-danger" th:href="'delete/' + ${product.productId}">삭제</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<footer th:replace="/include/footer.html"></footer>
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		document.querySelectorAll('.rental').forEach(item => {
			item.addEventListener('click', function () {
				var contractId = this.getAttribute('data-contract-id');
				document.querySelectorAll('.contractId').forEach(input => {
					input.value = contractId;
				})
			})
		})
		
		document.querySelectorAll('.rental').forEach(item => {
			item.addEventListener('click', function () {
				if (buttonValue == 0) {
					var contractPrice = this.getAttribute('data-price');
					var formatPrice = new Intl.NumberFormat('ko-KR').format(contractPrice);
					
					document.getElementById('rentalPrice').textContent = formatPrice + '원';
				}
				else {
					var contractPrice = this.getAttribute('data-price');
					var formatPrice = new Intl.NumberFormat('ko-KR').format(contractPrice);
					document.getElementById('buyPrice').textContent = formatPrice + '원';
				}

			});
		});
	});
	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').trigger('focus')
	})

	$('#myModal').modal({
		keyboard: false
	})
</script>
<script>
	var buttonValue = 0;
	var button1 = document.getElementById('btnradio1');
	var button2 = document.getElementById('btnradio2');
	var rentalDiv = document.getElementsByClassName('rentalDiv');
	var buyDiv = document.getElementsByClassName('buyDiv');
	button1.onclick = function () {
		buttonValue = 0;
		updateDiv();
	};
	button2.onclick = function () {
		buttonValue = 1;
		updateDiv();
	};
	function updateDiv() {
		if (buttonValue == 1) {
			for (var i = 0; i < rentalDiv.length; i++) {
				rentalDiv[i].style.display = "none";
			}
			for (var j = 0; j < buyDiv.length; j++) {
				buyDiv[j].style.display = "block";
			}
		}
		if (buttonValue == 0) {
			for (var j = 0; j < buyDiv.length; j++) {
				buyDiv[j].style.display = "none";
			}
			for (var i = 0; i < rentalDiv.length; i++) {
				rentalDiv[i].style.display = "block";
			}
		}
	}
</script>
<script>
	function sendBasketRequest(event) {
		event.preventDefault();

		var xhr = new XMLHttpRequest();
		var url = "/user/basket";
		xhr.open("post", url, true);
		var form = event.target.form;
		var formData = new FormData(form);

		xhr.onreadystatechange = function () {
			if (xhr.readyState === XMLHttpRequest.DONE) {
				var status = xhr.status;
				var basketText = document.getElementById('exampleModalLabel');
				if (status === 0 || (status >= 200 && status < 400)) {
					Swal.fire({
						icon: "success",
						title: "장바구니에 담았습니다!",
						showConfirmButton: false,
						timer: 1500
					});
				}
				else {
					Swal.fire({
						icon: "error",
						title: "Oops...",
						text: "이미 장바구니에 담았습니다",
					});
				}
			}
		}
		xhr.send(formData);
	}


</script>

</html>