<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/upload.css}">
</head>

<body>
	<header th:replace="/include/header.html"></header>
	<div id="bodyrap">
	<form id="insertForm" action="/product/insert" enctype="multipart/form-data" method="post">
		<div id="modelBox">
			<label for="productModel">상품 모델</label>
			<input type="text" id="productModel" name="productModel">
		</div>
		<div id="nameBox">
			<label for="productName">상품 이름</label>
			<input type="text" id="productName" name="productName">
		</div>
		<div id="formBox">
			<label for="formId1">데스크탑</label>
			<input class="form-check-input" type="radio" id="formId1" name="formId" value="1">
			<label for="formId2">빌트인</label>
			<input class="form-check-input" type="radio" id="formId2" name="formId" value="2">
			<label for="formId3">스탠드</label>
			<input class="form-check-input" type="radio" id="formId3" name="formId" value="3">
		</div>
		<div id="functionBox">
		<div class="functionInline">
			<label for="checkbox1">냉정수기</label>
			<input type="checkbox" id="checkbox1" name="function" value="1">
		</div>
		<div class="functionInline">
			<label for="checkbox2">온정수기</label>
			<input type="checkbox" id="checkbox2" name="function" value="2">
		</div>
		<div class="functionInline">
			<label for="checkbox3">냉온정수기</label>
			<input type="checkbox" id="checkbox3" name="function" value="3">
		</div>
		<div class="functionInline">
			<label for="checkbox4">얼음</label>
			<input type="checkbox" id="checkbox4" name="function" value="4">
		</div>
		<div class="functionInline">
			<label for="checkbox5">탄산</label>
			<input type="checkbox" id="checkbox5" name="function" value="5">
		</div>
		</div>
		<div id="dateBox">
			<label for="productDate">제품출시일</label>
			<input type="date" id="productDate" name="productDate">
		</div>
		<div id="imageBox">
			<input type="file" id="productFile" name="productFile">
		</div>
			<div id="contractForm">
				
			<button id="addButton" class="btn btn-dark">약정 추가</button>
		</div>
		<button class="btn btn-primary">확인</button>
	</form>
	</div>
<footer th:replace="/include/footer.html"></footer>
</body>
<script>
	var itemIndex = 0;
    var button = document.getElementById('addButton');
	button.addEventListener("click", function (event) {
		event.preventDefault();
        addItem();
	})

	function addItem() {
		var form = document.getElementById('contractForm');
		
		var divBox = document.createElement('div');
		divBox.className = 'functionBox';
		var div = document.createElement('div');
		div.className= 'priceBox';

		var inputYear0 = document.createElement('input');
		var inputYear3 = document.createElement('input');
		var inputYear6 = document.createElement('input');
		
		inputYear0.type = 'radio'
		inputYear0.name = 'contract[' + itemIndex + '].contractYear'
		inputYear0.value = '0'
		
		inputYear3.type = 'radio'
		inputYear3.name = 'contract[' + itemIndex + '].contractYear'
		inputYear3.value = '3'
		

		inputYear6.type = 'radio'
		inputYear6.name = 'contract[' + itemIndex + '].contractYear'
		inputYear6.value = '6'
	
		var labelYear0 = document.createElement('label');
        labelYear0.textContent = '구매';

        var labelYear3 = document.createElement('label');
        labelYear3.textContent = '3년';

        var labelYear6 = document.createElement('label');
        labelYear6.textContent = '6년';
        
		var inputPrice = document.createElement('input');
		inputPrice.type = 'number';
		inputPrice.name = 'contract[' + itemIndex + '].contractPrice';
		inputPrice.placeholder = '가격(렌탈료)';

		divBox.appendChild(inputYear0);
        divBox.appendChild(labelYear0);
        divBox.appendChild(inputYear3);
        divBox.appendChild(labelYear3);
        divBox.appendChild(inputYear6);
        divBox.appendChild(labelYear6);
        divBox.appendChild(div);
        divBox.appendChild(inputPrice);
        
        form.appendChild(divBox);
		itemIndex++;
	}
</script>

</html>