<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Work Place</title>
</head>
<body>

<h1>Create Work Place</h1>

<form action="/staff/createWorkPlace" method="post">

    <label for="workPlace">Work Place:</label>
    <input type="text" id="workPlace" name="workPlace" required><br>

    <button type="submit">Create Work Place</button>
</form>

</body>
</html>
