<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Work Place</title>
</head>
<body>

<h1>Update Work Place</h1>

	<p th:text="'Current Work Place: ' + ${currentWorkPlace}"></p>

	<form action="/staff/updateWorkPlace" method="post">
	    <label for="workPlace">New Work Place:</label>
	    <input type="text" id="workPlace" name="workPlace" placeholder="Enter New Work Place" required>
	    <input type="submit" value="Update Work Place">
	</form>

</body>
</html>
