<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 대시보드</title>
	<link rel="stylesheet" th:href="@{/css/admin/assets/css/style.css}">
</head>

<body>
    <!-- =============== 내비바 ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span>
                        <span class="title">Meta water</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/adminview">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Order List</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Staff List</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Add Product</span>
                    </a>
                </li>

<!--                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>-->

                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img th:href="@{/css/admin/assets/imgs/customer01.jpg}" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers" th:text="${dailyVisitorCount}">de 1,504</div>
                        <div class="cardName">Daily Views</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers" th:text="${totalSold}">기본 0</div>
                        <div class="cardName">Total Sold</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
    					<div class="numbers" th:text="${userStatistics.totalAllCount}">기본 0</div>
                        <div class="cardName">회원수</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">오늘 판매 금액</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
			    <div class="recentOrders">
			        <div class="cardHeader">
			            <h2>Recent Orders</h2>
			            <a href="/admin/orderlist/1" class="btn">View All</a>
			        </div>
			        <table>
			            <thead>
			                <tr>
			                    <td>Name</td>
			                    <td>Price</td>
			                    <td>Payment</td>
			                    <td>Status</td>
			                </tr>
			            </thead>
						<tbody>
						    <tr th:each="order, iterStat : ${orders}" th:if="${iterStat.index < 7}">
						        <td th:text="${order.orderName}"></td>
						        <td th:text="${order.orderPrice}"></td>
						        <td th:text="${order.orderName}"></td>
						        <td th:text="${order.orderState}"></td>
<!--						        <td><span class="status" th:class="${order.orderState}">${order.orderState}</span></td>
-->						    </tr>
						</tbody>

			        </table>
			    </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer02.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer01.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer02.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer01.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer02.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer01.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer02.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
								<div class="imgBx"><img th:src="@{/css/admin/assets/imgs/customer01.jpg}" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
	<script th:inline="javascript">
	    /* add hovered class to selected list item */
	    let list = document.querySelectorAll(".navigation li");
	
	    function activeLink() {
	        list.forEach((item) => {
	            item.classList.remove("hovered");
	        });
	        this.classList.add("hovered");
	    }
	
	    list.forEach((item) => item.addEventListener("mouseover", activeLink));
	
	    /* Menu Toggle */
	    let toggle = document.querySelector(".toggle");
	    let navigation = document.querySelector(".navigation");
	    let main = document.querySelector(".main");
	
	    toggle.onclick = function () {
	        navigation.classList.toggle("active");
	        main.classList.toggle("active");
	    };
	</script>

    <!-- ====== ionicons ======= -->
    <script type="module" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
    <script nomodule th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
</body>

</html>