<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Statistics</title>
</head>

<body>

    <h2>User Statistics</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Total Users</th>
                <th>User Role Count</th>
                <th>Codi Role Count</th>
                <th>Driver Role Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${userStatistics.totalAllCount}"></td>
                <td th:text="${userStatistics.totalUserCount}"></td>
                <td th:text="${userStatistics.totalCodiCount}"></td>
                <td th:text="${userStatistics.totalDriverCount}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>
