<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   <!--jquery-->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" th:href="@{/css/admin/style.css}">
   	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminorderdetail.css}">
   <!-- Datepicker 관련 라이브러리 추가 -->
   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
   <!--sweetalert-->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <title>Metaway orderlist</title>
</head>
<header th:replace="~{/include/header.html}"></header>
<body>
    <div class="assignment wrap">
        <div class="flex_1">
            <div class="flex_1_1" th:each="orders :${orderList}" >
               <p><span class="hight-span"> <em>주문고객: <span th:text="${orders.orderName}"></span> 님</em></span> </p>
                <div class="bo">
                    <div>
                        <ul>
                            <li>제품 모델 :<span th:text="${orders.productModel}"></span></li>
                            <li>제품 이름 :<span th:text="${orders.productName}"></span></li>
                            <li>약정년 :<span th:text="${orders.contractYear}"></span>년</li>
                            <li>총 가격 :<span th:text="${orders.orderPrice}"></span>원</li>
                            <li>
                        		월 가격 :
		                         <span th:if="${orders.contractYear != 0}" th:text="${(orders.orderPrice / orders.contractYear) / 12 + '원'}"></span>
		                         <span th:if="${orders.contractYear == 0}" th:text="${(orders.orderPrice / 12) + '원'}"></span>
		                     </li>
                            <li>약정기간 :<span th:text="${orders.startDate}"></span>  ~ <span th:text="${orders.endDate}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex_1_2">
               <p><span class="hight-span"><em>고객 주소</em></span></p> 
                <div class="bo">
                    <ul>
                        <li>고객명 : <span th:text="${orderList[0].orderName}"></span> 님</li>
                        <li>고객 주소 : <span th:text="${orderList[0].orderAddress}"></span></li>
                        <li>고객 연락처 :<span th:text="${orderList[0].userPhone}"></span></li>
                        <li>요청 사항 :<span th:text="${orderList[0].orderContent}"></span></li>
                    </ul>
                </div>
            </div>
            <div class="flex_1_3">
               <p><span class="hight-span"><em>설치 희망일</em></span></p>
                <div class="bo" th:text="${orderList[0].requestDate}">
                    2020/12/23 14:00
                </div>
            </div>
        </div>
		<div class="flex_2">
		    <div class="flex_2_1">
		       <p><span class="hight-span"><em>배정</em></span></p> 
		        <div class="bo">
		            <div class="engineer_box">
		                <h3>설치 기사</h3>
		                <div th:if="${#lists.size(staff)} > 0">
		                    <div th:each="driver : ${staff}" th:if="${driver.authorityName == 'ROLE_DRIVER'}">
		                        <div class="driver" th:if="${driver != null}">
		                            <p th:text="${driver.userName + ' (' + driver.staffId + '/' + driver.workPlace + ')'}">기사를 배정해주세요.</p>
		                            <form class="flex_button" th:action="@{/admin/cancel/{orderId}/{staffId}(orderId=${driver.orderId}, staffId=${driver.staffId})}" method="post">
		                                <input type="hidden" name="orderId" th:value="${driver.orderId}">
		                                <input type="hidden" name="staffId" th:value="${driver.staffId}">
		                                <button type="submit" class="btn btn-outline-secondary" id="cancelAssign" >배정취소</button>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <p th:unless="${#lists.size(staff)} > 0">기사를 배정해주세요.</p>
		                <div class="flex_button">
                            <button type="button" class="drive-btn" data-toggle="modal" data-target="#myModal" x`>기사 선택</button>
                        </div>
		            </div>
		            <div class="engineer_box">
		                <h3>코디</h3>
		                <div th:if="${#lists.size(staff)} > 0">
		                    <div th:each="codi : ${staff}" th:if="${codi.authorityName == 'ROLE_CODI'}">
		                        <div class="codi" th:if="${codi != null}">
		                            <p th:text="${codi.userName + ' (' + codi.staffId + '/' + codi.workPlace + ')'}">코디를 배정해주세요.</p>
		                            <form class="flex_button" th:action="@{/admin/cancel/{orderId}/{staffId}(orderId=${codi.orderId}, staffId=${codi.staffId})}" method="post">
		                                <input type="hidden" name="orderId" th:value="${codi.orderId}">
		                                <input type="hidden" name="staffId" th:value="${codi.staffId}">
		                                <button type="submit" class="btn btn-outline-secondary" id="cancelAssign">배정취소</button>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <p th:unless="${#lists.size(staff)} > 0">코디를 배정해주세요.</p>
			            <div class="flex_button">
	                        <button type="button" class="cody-btn" data-toggle="modal" data-target="#myCodiModal">코디 선택</button>
	                    </div>
		            </div>
		            <form class="flex_button" th:action="@{/admin/assign/complate/{orderId}(orderId=${orderList[0].orderId})}" method="post">
						<input type="hidden" name="orderId" th:value="${orderList[0].orderId}">
		            	<button type="submit" class="submit-btn">배정 완료</button>
		            </form>
		        </div>
		    </div>
		</div>
    
       <!-- The Modal -->
   <div class="modal" id="myModal">
       <div class="modal-dialog">
         <div class="modal-content">
     
           <!-- Modal Header -->
           <div class="modal-header">
             <h4 class="modal-title">미배정 담당기사 목록</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
     
           <!-- Modal body -->
           <div class="modal-body">
              <table class="table" th:if="${driverList}">
             <thead class="table-success">
               <tr>
                 <th>직원번호</th>
                 <th>이름</th>
                 <th>이메일</th>
                 <th>연락처</th>
                 <th>근무지</th>
                 <th>관리</th>
               </tr>
             </thead>
             <tbody>
               <tr th:each="driver: ${driverList}">
                 <td th:text="${driver.staffId}">1</td>
                 <td th:text="${driver.userName}">김기사</td>
                 <td th:text="${driver.userEmail}">john@example.com</td>
                 <td th:text="${driver.userPhone}">010-1111-1111</td>
                 <td th:text="${driver.workPlace}">서울</td>
               <td>
                   <input type="hidden" name="orderId" th:value="${orderList[0].orderId}">
                   <input type="hidden" name="staffId" th:value="${driver.staffId}">
                   <input type="hidden" name="userId" th:value="${driver.userId}">
                  <button type="button" class="btn btn-outline-primary" th:onclick="assignStaff('driver', '[[${driver.userName}]]','[[${driver.staffId}]]','[[${driver.userId}]]')">배정</button>
               </td>
               </tr>
             </tbody>
           </table>
           </div>
     
           <!-- Modal footer -->
           <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>
         <!-- The Codi Modal -->
   <div class="modal" id="myCodiModal">
       <div class="modal-dialog">
         <div class="modal-content">
     
           <!-- Modal Header -->
           <div class="modal-header">
             <h4 class="modal-title">미배정 코디 목록</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
     
           <!-- Modal body -->
           <div class="modal-body">
              <table class="table" th:if="${codiList}">
             <thead class="table-success">
               <tr>
                 <th>직원번호</th>
                 <th>이름</th>
                 <th>이메일</th>
                 <th>연락처</th>
                 <th>근무지</th>
                 <th>관리</th>
               </tr>
             </thead>
             <tbody>
               <tr th:each="codi: ${codiList}">
                 <td th:text="${codi.staffId}"></td>
                 <td th:text="${codi.userName}"></td>
                 <td th:text="${codi.userEmail}"></td>
                 <td th:text="${codi.userPhone}"></td>
                 <td th:text="${codi.workPlace}"></td>
               <td>
                   <input type="hidden" name="orderId" th:value="${orderList[0].orderId}">
                   <input type="hidden" name="staffId" th:value="${codi.staffId}">
                   <input type="hidden" name="userId" th:value="${codi.userId}">
                  <button type="submit" class="btn btn-outline-primary" th:onclick="assignStaff('codi', '[[${codi.userName}]]', '[[${codi.staffId}]]','[[${codi.userId}]]')">배정</button>
               </td>
               </tr>
             </tbody>
           </table>
           </div>
     
           <!-- Modal footer -->
           <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>
     
     
</body>

<script>
	
function assignStaff(staffType, staffName, staffId, userId) {
    assignStaffAsync(staffType, staffName, staffId, userId);
}

//직원 배정
function assignStaffAsync(staffType, staffName, staffId, userId) {
    const orderId = $('input[name="orderId"]').val();
    console.log(orderId, staffType, staffId);
    console.log(userId);
    
    Swal.fire({
        title: '직원 배정 확인',
        text: `${staffName}을(를) 선택하시겠습니까?`,
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '확인',
        cancelButtonText: '취소'
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                type: 'POST',
                url: `/schedule/${staffType}/${orderId}/${staffId}`,
                contentType: 'application/json',
                data: JSON.stringify({ userId: userId }),
                success: function (data) {
                    if (staffType === 'driver') {
                        $('.driver p').text(`${staffName}(${staffId})`);
                        location.reload();
                    } else if (staffType === 'codi') {
                        $('.codi p').text(`${staffName}(${staffId})`);
                        location.reload();
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Failed to assign staff:', error);
                    Swal.fire({
                        icon: 'error',
                        title: '배정 실패',
                        text: '직원을 배정하는 데 문제가 발생했습니다.',
                    });
                }
            });
        }
    });
}

    

</script>

</html>