<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Product Rank with Image</title>

<div id="wrap">
    <h1>Product Rank with Image</h1>

    <div class="container">
        <div class="row">
            <div th:each="product, rowStat : ${productRankList}" class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img th:src="'data:' + ${product.fileType} + ';base64,' + ${product.filePath}" 
                         alt="productImage" class="card-img-top productImage">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.productName}"></h5>
                        <p class="card-text" th:text="'Total Sales: ' + ${product.totalSales}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted" th:text="'Rank: ' + ${rowStat.count}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-GLhlTQ8iKZAZUBoURLRsH8l7ZYzC+J3YO5xmArEJJ8SfbqBDZKnJf7JdA2IHGbEL" crossorigin="anonymous"></script>

