<!-- admin/productRankWithImage.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Rank with Image</title>
</head>
<body>

<h1>Product Rank with Image</h1>

<table border="1">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Total Sales</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product, rowStat : ${productRankList}">
            <td th:text="${rowStat.count}"></td>
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
             <td th:text="${product.totalSales}"></td>
            <td>
                <img th:src="'data:' + ${product.fileType} + ';base64,' + ${product.filePath}" 
                alt="productImgage" class="productImage">
            </td> 
        </tr>
    </tbody>
</table>

</body>
</html>
