<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자 대시보드</title>
	<link rel="stylesheet" th:href="@{/css/admin/assets/css/style.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/admin/paging.css}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.5/dist/sweetalert2.all.min.js"></script>
	<!-- Datepicker 관련 라이브러리 추가 -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

</head>

<body>
	<!-- =============== 내비바 ================ -->
	<div class="navigation">
		<ul>
			<li>
				<a href="/">
					<span class="icon">
						<ion-icon name="water-outline"></ion-icon>
					</span>
					<span class="title">Meta water</span>
				</a>
			</li>
			<li>
				<a href="/">
					<span class="icon">
						<ion-icon name="home-outline"></ion-icon>
					</span>
					<span class="title">홈</span>
				</a>
			</li>
			<li>
				<a href="/admin/adminview">
					<span class="icon">
						<ion-icon name="document-text-outline"></ion-icon>
					</span>
					<span class="title">대시보드</span>
				</a>
			</li>

			<li>
				<a href="../product/insert">
					<span class="icon">
						<ion-icon name="color-wand-outline"></ion-icon>
					</span>
					<span class="title">상품등록</span>
				</a>
			</li>

			<li>
				<a href="/admin/orderlist/1">
					<span class="icon">
						<ion-icon name="bar-chart-outline"></ion-icon>
					</span>
					<span class="title">주문리스트</span>
				</a>
			</li>

			<li>
				<a href="/admin/returnlist/1">
					<span class="icon">
						<ion-icon name="refresh-circle-outline"></ion-icon>
					</span>
					<span class="title">환불/반납</span>
				</a>
			</li>



			<li>
				<a href="../staff/cody/list">
					<span class="icon">
						<ion-icon name="calendar-outline"></ion-icon>
					</span>
					<span class="title">코디</span>
				</a>
			</li>
			<li>
				<a href="../staff/drive/list">
					<span class="icon">
						<ion-icon name="car-sport-outline"></ion-icon>
					</span>
					<span class="title">기사</span>
				</a>
			</li>



			<li>
				<!--                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">statistics</span>
                    </a>
                </li>-->

			<li>
				<a href="/">
					<span class="icon">
						<ion-icon name="log-out-outline"></ion-icon>
					</span>
					<span class="title">로그아웃</span>
				</a>
			</li>
		</ul>
	</div>

	<!-- ========================= Main ==================== -->
	<div class="main">
		<div class="rantal_list">
			<div class="container">
				<p class="ti_con">
					<a th:href="@{/admin/adminview}">
						<img src="/images/return.png" style="width: 30px;">
						렌탈/환불/반납 리스트</a>
				</p>
				<div class="m_flex_box">
					<div class="total-orders">
						<p>총 렌탈/환불/반납 수:<span th:text="${totReturn}"></span></p>

						<p>반납 신청: <span th:text="${totReturnOffer}"></span></p>
						<p>해지 신청: <span th:text="${totTerminateOffer}"></span></p>
						<p>환불 신청: <span th:text="${totRefundOffer}"></span></p>

					</div>
					<div class="input-group mb-3">
						<!--<form th:action="@{/admin/searchreturn}"  method="get">
	                  <div>
	                     <select th:name="" class="custom-select">
	                        <option th:selecteth:action="@{/admin/searchreturn}"th:selected="${}" th:value="">반납 대기</option>
	                        <option th:selected="${}" th:value="">반납 완료</option>
	                        <option th:selected="${}" th:value="">주문 취소</option>
	                     </select>
	                 </div>
                     <div>
                         <input type="text" th:name="" class="form-control datepicker" th:value="${}" placeholder="날짜 선택"></input>
                     </div>
                     <div class="input-group-append">
                        <input type="text" th:name="" class="form-control" th:value="${}"
                           placeholder="주문자명 검색"></input>
                        <input type="submit" class="btn btn-primary active" value="검색"></input>
                     </div>
               </form>-->
					</div>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>반납번호</th>
							<th>주문상세번호</th>
							<th>위약금</th>
							<th>약정일자</th>
							<th>만료일자</th>
							<th>사용상태</th>
							<th>배정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="return : ${returnList}" th:if="${return.stateType != null}">
							<td th:text="${return.returnId}">returnId</td>
							<td th:text="${return.orderDetailId}">orderDetailId</td>
							<td th:text="${return.returnPrice}">returnPrice</td>
							<th th:text="${return.startDate}">startDate</th>
							<th th:text="${return.endDate}">endDate</th>
							<td th:text="${return.stateType}">stateType</td>
							<form id="" th:action="@{/admin/return/{returnId}(returnId=${return.returnId})}"
								method="get">
								<td>
									<button type="submit" class="btn btn-outline-primary">반납</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>


			<div th:replace="~{/include/returnpaging.html}"></div>


		</div>

	</div>

	<!-- =========== Scripts =========  -->
	<script th:inline="javascript">
		/* add hovered class to selected list item */
		let list = document.querySelectorAll(".navigation li");

		function activeLink() {
			list.forEach((item) => {
				item.classList.remove("hovered");
			});
			this.classList.add("hovered");
		}

		list.forEach((item) => item.addEventListener("mouseover", activeLink));

		/* Menu Toggle */
		let toggle = document.querySelector(".toggle");
		let navigation = document.querySelector(".navigation");
		let main = document.querySelector(".main");

		toggle.onclick = function () {
			navigation.classList.toggle("active");
			main.classList.toggle("active");
		};
	</script>

	<!-- ====== ionicons ======= -->
	<script type="module" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
	<script nomodule th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
</body>

<script>
	$(document).ready(function () {
		$('.datepicker').datepicker({
			format: 'yyyy-mm-dd',
			autoclose: true,
			todayHighlight: true
		});
	});

	/* Thymeleaf로 주문 ID 전달 */

	function confirmDelete(returnId) {
		console.log("Return ID:", returnId);
		Swal.fire({
			title: returnId + '번 반납 취소',
			text: returnId + '번 반납을 취소하시겠습니까?',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: '반납 취소',
			cancelButtonText: '돌아가기'
		}).then((result) => {
			if (result.isConfirmed) {
				// 삭제할 주문의 form을 submit
				$('#deleteForm_' + returnId).submit();
			}
		});
	}

</script>

</html>