<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   <!--jquery-->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" th:href="@{/css/admin/style.css}">
   <!-- Datepicker 관련 라이브러리 추가 -->
   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
   <!--sweetalert-->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   <title>직원 검색</title>
</head>
<body>
    <div class="staff_list">
        <div class="container">
            <h2 class="ti_con">직원 리스트</h2>
            <div class="m_flex_box">
              <div class="total-member">
                <p>직원수: <span th:text="${totStaff}"></span></p>
              </div>
              <div class="input-group mb-3">
                <form th:action="@{/admin/searchstaff/1}"  method="get">
				  <div>	
	                  <select th:name="authorityName" class="custom-select">
	                    <option selected>전체</option>
	                    <option th:selected="${authorityName == 'ROLE_CODI'}" value="ROLE_CODI">코디</option>
	                    <option th:selected="${authorityName == 'ROLE_DRIVER'}" value="ROLE_DRIVER">담당기사</option>
	                  </select>
                  </div>
	              <div class="input-group-append">
				   	<input type="text" th:name="keyword" class="form-control" th:value="${keyword}" placeholder="이름을 검색해주세요"></input>
                    <input type="submit" class="btn btn-primary active" value="검색"></input>
	              </div>
                </form>  
              </div>  
            </div>
            <p id="searchResult">검색결과: <span id="resultCount">4</span>/총<span id="totalCount">4</span>명 검색결과</p>       
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><input type="checkbox" name="" value=""></th>
                  <th>번호</th>
                  <th>아이디</th>
                  <th>이메일</th>
                  <th>이름</th>
                  <th>전화번호</th>
                  <th>주소</th>
                  <th>근무지</th>
                  <th>상태</th>
                  <th>분류</th>
                  <th>관리</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="staff: ${staffList}">
                  <td><input type="checkbox" name="" value=""></td>
                  <td th:text="${staff.staffId}"></td>
                  <td th:text="${staff.userAccount}"></td>
                  <td th:text="${staff.userEmail}"></td>
                  <td th:text="${staff.userName}"></td>
                  <td th:text="${staff.userPhone}"></td>
                  <td th:text="${staff.userAddress}"></td>
                  <td th:text="${staff.workPlace}"></td>
                  <td th:text="${staff.workStatus}"></td>
                  <td th:text="${staff.authorityName}"></td>
                  <td>
                    <button type="button" class="btn btn-outline-primary">수정</button>
                    <button type="button" class="btn btn-outline-dark">삭제</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
     	<div th:replace="~{/include/searchstaff-paging :: searchStaffpaging}"></div>
    </div>
</body>
<style>

</style>
</html>