<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meta.metaway.staff.dao.IStaffRepository">
	
	<select id="getIdByAccount" parameterType="String" resultType="Long">
	    SELECT user_id as id FROM users WHERE user_account = #{account}
	</select>
	
	<!-- 사용자가 코디 또는 드라이버인지 확인-->
	<select id="checkIfUserIsCodiOrDriver" parameterType="Long">
	    SELECT authority_name
	    FROM user_authority
	    WHERE user_id = #{id}
	    AND (authority_name = 'ROLE_CODI' OR authority_name = 'ROLE_DRIVER')
	</select>

	<!-- account로 user_id 얻기 -->
	<select id="getUserIdByAccount" parameterType="String" resultType="Long">
	    SELECT user_id FROM users WHERE user_account = #{account}
	</select>	
	
	<select id="selectStaffMaxNo" resultType="long">
	<![CDATA[
		SELECT NVL(MAX(staff_id),0) AS "staffId"
		FROM staff
	]]>
	</select>	
	
	<!--drive product list-->
	<select id="selectOrderProductList" >
	SELECT 
	    O.order_id, P.product_name, O.order_name, O.order_date, O.order_address,  U.user_phone,S.visit_date,O.order_state
	FROM orders O
	LEFT JOIN users U ON O.user_id = U.user_id
	LEFT JOIN order_detail OD ON O.order_id = OD.order_id
	LEFT JOIN product P ON OD.product_id = P.product_id
	LEFT JOIN schedule S ON O.order_id = S.order_id
	</select>
	
	<select id="getUserAuthority" resultType="String">
        SELECT ua.authority_name
        FROM user_authority ua
        WHERE ua.user_id = #{userId}
    </select>

    <!-- 근무지를 생성 -->
	<update id="createWorkPlace" parameterType="com.meta.metaway.staff.model.Staff">
	    INSERT INTO staff (staff_id, user_id, work_place)
	    VALUES (#{staffId}, #{userId}, #{workPlace})
	</update>
	
	<!-- 근무지 수정 -->
	<update id="updateWorkPlace" parameterType="com.meta.metaway.staff.model.Staff">
	    UPDATE staff
	    <set>
	        work_place = #{workPlace}
	    </set>
	    WHERE user_id = #{userId}
	</update>
	
	<select id="getWorkPlaceByUserId" parameterType="long" resultType="String">
        SELECT work_place as workPlace
        FROM staff
        WHERE user_id = #{userId}
    </select>
	
	<select id="getStaffByUserId" parameterType="long" resultType="com.meta.metaway.staff.model.Staff">
        SELECT work_place as workPlace 
        FROM staff 
        WHERE user_id = #{userId}
    </select>
	

    
</mapper>