<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/footer.css">

  <title>footer</title>
</head>
<footer-body>

    <footer class="footer-footer">
        <div class="footer__addr">
            <div class="footer-main-logo"><img src="/images/mainlogo.png"></div>
              
          <h2>Contact</h2>
          
          <address>
            서울 종로구 종로 33길 15 (연지동, 연강빌딩)<br>
                
            <a class="footer__btn" href="metaway@gmail.com">Email Us</a>
          </address>
        </div>
        
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <h2 class="footer-nav-title">Product</h2>
      
            <ul class="nav__ul">
              <li>
                <a href="#">냉온정수기</a>
              </li>
      
              <li>
                <a href="#">온정수기</a>
              </li>
                  
              <li>
                <a href="#">탄산정수기</a>
              </li>
              <li>
                <a href="#">얼음정수기</a>
              </li>
            </ul>
          </li>
          
          
          
          <li class="footer-nav-item nav__item--extra">
            <h2 class="footer-nav-title">User</h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <a href="#">회원가입</a>
              </li>
              <li>
                <a href="#">로그인</a>
              </li>
            </ul>
          </li>
          
          
          
          <li class="footer-nav-item">
            <h2 class="footer-nav-title">Legal</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              
              <li>
                <a href="#">Terms of Use</a>
              </li>
              
              <li>
                <a href="#">Sitemap</a>
              </li>
              
              
            </ul>
          </li>
        </ul>
        
        <div class="footer-legal">
            <p>&copy; 2023 Something. All rights reserved.</p>

          <div class="legal__links">
            <div class="footer-company-logo"><img src="/images/metanet.png"></div>
            <div class="footer-company-logo"><img src="/images/kosa.png"></div>
          </div>
        </div>
      </footer>

 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script> 
    </script>
  </footer-body>
  </html>