<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
<!-- 부트스트랩 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</head>
<body class="header-body">
    <header>
        <nav class="header-nav">
            <input id="nav-toggle" type="checkbox">

            <a class="header-logo" href="/"><img src="/images/mainlogo.png" ></a>

            <ul class="links">
                <li><a href="/product">상품</a></li>
                <li><a href="#">정수기</a></li>
                <li><a href="#">메타넷</a></li>

                <form action="" class="header-search-bar">
                    <input type="search" name="search" pattern=".*\S.*" required placeholder="Search.." />
                    <button class="search-btn" type="submit">

                      <img src="images/search2.png" class="header-search-icon" />
                    </button>
                  </form>

                  <li class="header-cart-img"><img src="/images/cart.png"></li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="images/user.png" class="header-user-icon"> 
                  </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" th:href="@{'/login'}">로그인</a></li>
                      <li><a class="dropdown-item" th:href="@{'/join'}">회원가입</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" th:href="@{'#'}">마이페이지</a></li>
                      <li><a class="dropdown-item"  th:href="@{''}">관리자</a></li>
                      <li><a class="dropdown-item"  th:href="@{'/staff/drive/list'}">기사</a></li>
                      <li><a class="dropdown-item"  th:href="@{'/staff/cody/list'}">코디</a></li>
                    </ul>
                  </li>
            </ul>
            
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
        <!-- <img src="./images/header-image/bing3.jpg" class="main-img"> -->

      </header>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    
  </script>
</body>
<!-- 부트스트랩 JavaScript 및 Popper.js -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
</html> 