<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 필요한 메타태그, 스타일시트 등을 여기에 포함시킵니다 -->
</head>
<body>
    <div id="app" class="login-page">
        <section>
            <div class="sec-form">
                <img src="/src/main/resources/static/images/mainlogo.png" alt="Logo">
                <form v-if="isLoginFormVisible" class="login-form" @submit.prevent="login">
                    <input type="text" placeholder="username" v-model="account"/>
                    <input type="password" placeholder="password" v-model="password"/>
                    <button type="submit">login</button>
                </form>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
	new Vue({
	    el: '#app',
	    data: {
	        isLoginFormVisible: true,
	        account: '',
	        password: ''
	    },
	    methods: {
	        login() {
	            console.log('Logging in:', this.account, this.password);
	
	            const url = '/login'; 
				const formData = new FormData();
				formData.append('account', this.account);
				formData.append('password', this.password);
				
				fetch(url, {
				    method: 'POST',
				    body: formData
				})
				.then(response => {
				    if (response.ok) {
				        const authorizationHeader = response.headers.get('Authorization');
				        const token = authorizationHeader ? authorizationHeader.replace('Bearer ', '') : null;

				        sessionStorage.setItem('token', token);
				        console.log('Token login:', token); 

				        window.location.href = '/'; 
				        console.log('로오오오그의ㅣ니이인ㄴ');
				    } else {
				        console.error('시리ㅣ잉이ㅣㅣㄹ패');
				    }
				})
				.catch(error => {
				    console.error('Error logging in:', error);
				});

	        }
	    }
	});

    </script>
</body>
</html>
