<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 필요한 메타태그, 스타일시트 등을 여기에 포함시킵니다 -->
</head>
<body>
    <div class="order-list">
        <section>
            <h2>주문 정보</h2>
            <table>
                <thead>
                    <tr>
                        <th>주문자</th>
                        <th>내용</th>
                        <th>날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.orderContent}"></td>
                        <td th:text="${order.orderDate}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <!-- 필요한 스크립트 등을 포함 -->
</body>
</html>
