<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/myOrder.css}">
	<link rel="stylesheet" th:href="@{/css/profile.css}">
	<title>MyPage myOrder</title>
</head>

<header th:replace="~{/include/header.html}"></header>

<body>
	<div class="container">
		<div class="profile-nav">
			<nav class="profile-nav-ul">
				<ul>
					<li class="profile-nav-p">마이페이지</li>

					<li><a th:href="@{/user/myOrder}">구매 내역</a></li>
					<!--구매 취소 내역 / 환불 내역-->
					<li><a th:href="@{/return}">반납 내역</a></li>
					<!--반납 신청 내역 / 반납 환불 내역-->
					<li><a th:href="@{/contract}">약정 내역</a></li>
					<!--약정 연장 내역 / 약정 해지 내역-->
				</ul>
			</nav>
		</div>
		<div class="profile-page">
			<div id="myOrderHeaderText">주문 내역</div>
			<div id="orderWrap">
				<div class="orderDiv" th:each="order, orderIndex : ${orderList}" th:if="${orderIndex.index < 5}">
					<div class="getOrderDetailBox">
						<div th:text="${order.orderDate} + ' 주문'" class="orderDateBox"></div>
					</div>
					<div class="orderDetailDiv">
						<div th:each="cont, contIndex : ${order.contractList}" th:if="${contIndex.index < 1}"
							class="detailBox">
							<div class="ProductImageBox">
								<div th:if="${order.orderState == 0}" class="stateText">주문 완료</div>
								<div th:if="${order.orderState == 1}" class="stateText">배송 예정</div>
								<div th:if="${order.orderState == 2}" class="stateText">주문 취소</div>
								<div th:if="${order.orderState == 3}" class="stateText">배송 완료</div>
								<div class="orderDetailInfoDiv">
									<img th:src="'data:' + ${cont.product.imageType} + ';base64,' + ${cont.product.imageFile}"
										alt="productImage" class="productImage">
									<div class="productText">
										<div th:text="${cont.product.productModel}" class="ModelClass"></div>
										<div th:if="${order.orderSize != 0}"
											th:text="${cont.product.productName} + ' 외 ' + ${order.orderSize}"
											class="modelName"></div>
										<div th:if="${order.orderSize == 0}" th:text="${cont.product.productName}"
											class="modelName"></div>
										<hr>
										<div th:if="${order.orderPrice} != 0">총 결제액 : <span
												th:text="${order.orderPrice} + '원'" class="spanText"></span></div>
										<div th:if="${order.rentalPrice} != 0">월 렌탈료 : <span
												th:text="'월 ' + ${order.rentalPrice} + '원'" class="spanText"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="rightBox">
								<div class="rightDetailButtonDiv">
									<form method="get" th:action="@{/user/orderDetail}">
										<input type="hidden" th:value="${order.orderId}" name="orderId">
										<button class="orderDetailButton">주문 상세조회</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"></script>

</html>