<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 필요한 메타태그, 스타일시트 등을 여기에 포함시킵니다 -->
</head>
<body>
    <div class="profile-page">
        <section>
            <form th:object="${userProfile}" th:action="@{/user/update}" method="post">
                <input type="hidden" th:field="*{id}" />
                이메일: <input type="email" th:field="*{email}" placeholder="Email" />
                이름: <input type="text" th:field="*{name}" placeholder="Name" />
                휴대폰: <input type="text" th:field="*{phone}" placeholder="Phone" />
                나이: <input type="number" th:field="*{age}" placeholder="Age" />
                주소: <input type="text" th:field="*{address}" placeholder="Address" />

                <button type="submit">수정</button>
            </form>
        </section>
    </div>
</body>
</html>
