<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meta.metaway.user.dao.IBasketRepository">

	<!-- 회원의 장바구니 조회 -->
	<select id="getBasketItemsByUserId" resultType="com.meta.metaway.user.model.Basket">
	    SELECT p.product_name as, p.product_model, c.contract_price
	    FROM basket b
	    JOIN contract c ON b.contract_id = c.contract_id AND b.product_id = c.product_id
	    JOIN product p ON c.product_id = p.product_id
	    WHERE b.user_id = #{userId}
	</select>

	<!-- 장바구니 담기 -->
	<insert id="addProductToBasket" parameterType="com.meta.metaway.user.model.Basket">
	    INSERT INTO basket (user_id, contract_id, product_id, product_pcs)
	    VALUES (#{userId}, #{contractId}, #{productId}, 1)
	</insert>

	<!-- contractId에 대한 productId 조회 -->
	<select id="getProductIdByContractId" parameterType="Long" resultType="Long">
	    SELECT product_id
	    FROM contract
	    WHERE contract_id = #{contractId}
	</select>	
	
	<!-- 장바구니 삭제 -->
	<delete id="removeProductFromBasket" parameterType="com.meta.metaway.user.model.Basket">
	    DELETE FROM basket
	    WHERE user_id = #{userId} AND contract_id = #{contractId} AND product_id = #{productId}
	</delete>
	
	

</mapper>