<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.meta.metaway.admin.dao.IAdminStaffRepository">
 	<select id="selectAllStaff" resultType="com.meta.metaway.admin.dto.AdminStaffDTO">
		   <![CDATA[
		      SELECT
				    "staffId","userId","userAccount","userEmail","userPhone","userName",
				    "userAddress","userAge","workPlace", "workStatus","authorityName"
			    FROM (
				    SELECT
					    "staffId","userId","userAccount","userEmail","userPhone","userName",
				    	"userAddress","userAge","workPlace", "workStatus","authorityName",
					    ROWNUM AS rnum
				    FROM (
			    		SELECT
					        s.staff_id AS "staffId",
					        s.user_id AS "userId",
					        u.user_account AS "userAccount",
					        u.user_email AS "userEmail",
					        u.user_phone AS "userPhone",
					        u.user_name AS "userName",
					        u.user_address AS "userAddress",
					        u.user_age AS "userAge",
					        s.work_place AS "workPlace",
					        s.work_status AS "workStatus",
					        ua.authority_name AS "authorityName"
			    		FROM
					        staff s
					     JOIN users u ON s.user_id = u.user_id
					     JOIN user_authority ua ON u.user_id = ua.user_id
					     where ua.authority_name = 'ROLE_DRIVER' OR ua.authority_name = 'ROLE_CODI'
				     )
			     )
			     WHERE rnum BETWEEN #{start} AND #{end}
			     ORDER BY "staffId"
		     ]]>
		</select>
		
    	<select id="selectTotalStaffCount" resultType="int">
			<![CDATA[
				select count(staff_id) from staff
			]]>
		</select>
    	
   		<select id="searchAllStaff" resultType="com.meta.metaway.admin.dto.AdminStaffDTO">
		   <![CDATA[
		     	SELECT
				    "staffId","userId","userAccount","userEmail","userPhone","userName",
				    "userAddress","userAge","workPlace", "workStatus","authorityName"
				FROM (
				    SELECT
				        "staffId","userId","userAccount","userEmail","userPhone","userName",
				        "userAddress","userAge","workPlace", "workStatus","authorityName",
				        ROWNUM AS rnum
				    FROM (
				        SELECT
				            s.staff_id AS "staffId",
				            s.user_id AS "userId",
				            u.user_account AS "userAccount",
				            u.user_email AS "userEmail",
				            u.user_phone AS "userPhone",
				            u.user_name AS "userName",
				            u.user_address AS "userAddress",
				            u.user_age AS "userAge",
				            s.work_place AS "workPlace",
				            s.work_status AS "workStatus",
				            ua.authority_name AS "authorityName"
				        FROM
				            staff s
				        JOIN users u ON s.user_id = u.user_id
				        JOIN user_authority ua ON u.user_id = ua.user_id
				        WHERE (ua.authority_name = 'ROLE_DRIVER' OR ua.authority_name = 'ROLE_CODI')
				          AND UPPER(u.user_name) LIKE UPPER('%' || #{keyword} || '%')
				          AND (#{authorityName} IS NULL OR ua.authority_name = #{authorityName})
				    )
				)
				WHERE rnum BETWEEN #{start} AND #{end}
				ORDER BY "staffId"

		     ]]>
		</select>
    
    </mapper>