<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.meta.metaway.admin.dao.IAdminRepository">
		<!--전체 주문 내역 조회 -->
	<select id="findAllOrderList" resultType="com.meta.metaway.admin.dto.AdminOrderDTO">
		<![CDATA[
		          SELECT
				    "orderId",
				    "userId",
				    "orderContent",
				    "orderDate",
				    "requestDate",
				    "orderName",
				    "orderState",
				    "orderAddress", 
				    "orderPrice",
				    "rentalPrice",
				    rnum
				FROM (
				    SELECT
				        order_id AS "orderId",
				        user_id AS "userId",
				        order_content AS "orderContent",
				        order_date AS "orderDate",
				        request_date AS "requestDate",
				        order_name AS "orderName",
				        order_state AS "orderState",
				        order_address AS "orderAddress", 
				        order_price AS "orderPrice",
				        rental_price AS "rentalPrice",
				        rownum AS rnum
				    FROM (
				        SELECT * FROM orders
				        ORDER BY order_id DESC
				    )
				)
				WHERE rnum BETWEEN #{start} AND #{end}
		]]>
	</select>
	<select id="selectTotalOrdersCount" resultType="int">
		<![CDATA[
			select count(order_id) from orders
		]]>
	</select>
	<select id="selectWaitingOrdersCount" resultType="int">
		<![CDATA[
			select count(order_id) from orders where order_state = 0
		]]>
	</select>
	
	<select id="selectCompleteOrdersCount" resultType="int">
		<![CDATA[
			select count(order_id) from orders where order_state = 1
		]]>
	</select>
		
	<select id="searchOrderListByKeyword" parameterType="hashmap" resultType="com.meta.metaway.admin.dto.AdminOrderDTO" >
		<![CDATA[
		      SELECT
				    "orderId",
				    "userId",
				    "orderContent",
				    "orderDate",
				    "requestDate",
				    "orderName",
				    "orderState",
				    "orderAddress", 
				    "orderPrice",
				    "rentalPrice",
				    rnum
				FROM (
				    SELECT
				        order_id AS "orderId",
				        user_id AS "userId",
				        order_content AS "orderContent",
				        order_date AS "orderDate",
				        request_date AS "requestDate",
				        order_name AS "orderName",
				        order_state AS "orderState",
				        order_address AS "orderAddress", 
				        order_price AS "orderPrice",
				        rental_price AS "rentalPrice",
				        rownum AS rnum
				    FROM (
				        SELECT * FROM orders
		         	WHERE
	                    UPPER(order_name) LIKE UPPER('%' || #{keyword} || '%')
	                    AND (#{orderState} IS NULL OR order_state = #{orderState})
	                    AND (#{orderDate} IS NULL OR order_date = TO_DATE(#{orderDate}, 'YYYY-MM-DD'))
	                    ORDER BY order_id DESC
				    )
				)
				WHERE rnum BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<!--  주문 취소 -->
	<update id="updateCancleOrder" parameterType="long">
	    update orders
	    SET order_state = 2
	    WHERE order_id = #{orderId}
	</update>
	
	<!--  배정 완료 -->
	<update id="updateCompleteOrder" parameterType="long">
	    update orders
	    SET order_state = 1
	    WHERE order_id = #{orderId}
	</update>
	
	<select id="getOrderIdByStaffId" resultType="int">
        SELECT order_id FROM staff WHERE staff_id = #{staffId}
    </select>
	
    <select id="getOrderId" resultType="int">
        SELECT order_id FROM orders WHERE order_id = #{orderId}
    </select>
    
     <select id="getOrderDetailId" resultType="int">
        SELECT order_detail_id FROM orders WHERE order_detail_id = #{order_detail_id}
    </select>
    
	<!-- 단일구매 주문 상세   -->
	<select id="selectOneOrderList" resultType="com.meta.metaway.admin.dto.AdminOrderDetailDTO">
		<![CDATA[
		      SELECT
				    "orderId",
				    "userId",
				    "orderContent",
				    "orderDate",
				    "requestDate",
				    "orderName",
				    "orderState",
				    "orderAddress", 
				    "orderPrice",
				    "rentalPrice",
				    rnum
				FROM (
				    SELECT
				        order_id AS "orderId",
				        user_id AS "userId",
				        order_content AS "orderContent",
				        order_date AS "orderDate",
				        request_date AS "requestDate",
				        order_name AS "orderName",
				        order_state AS "orderState",
				        order_address AS "orderAddress", 
				        order_price AS "orderPrice",
				        rental_price AS "rentalPrice",
				        rownum AS rnum
				    FROM (
				        SELECT * FROM orders
				        ORDER BY order_id DESC
				    )
				)
				WHERE rnum BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	
	<!-- 장바구니구입 주문번호 상세  -->
	<select id="selectAllOrderList" resultType="com.meta.metaway.admin.dto.AdminOrderDetailDTO">
		SELECT
            od.order_detail_id as "orderDetailId",
            od.order_id as "orderId",
            od.contract_id as "contractId",
            od.order_count as "orderCount",
            od.start_date as "startDate",
            od.end_date as "endDate",
            od.state_type as "stateType",
            o.order_name as "orderName",
            o.order_address as "orderAddress",
            o.order_content as "orderContent",
            o.order_price as "orderPrice",
            o.rental_price as "rentalPrice",
            o.order_date as "orderDate",
            o.request_date as "requestDate",
            p.product_model as "productModel",
            p.product_name as "productName",
            c.contract_year as "contractYear",
            c.contract_price as "contractPrice",
            u.user_phone as "userPhone"
        FROM order_detail od
        INNER JOIN orders o ON o.order_id = od.order_id
        INNER JOIN product p ON p.product_id = od.product_id
        INNER JOIN contract c ON c.contract_id = od.contract_id
        INNER JOIN users u ON u.user_id = o.user_id
        WHERE o.order_id = #{orderId}
	</select>
	
		<!-- 코디 전체 조회  -->
	<select id="selectAllCodiList" resultType="com.meta.metaway.admin.dto.AdminStaffDTO">
		SELECT u.user_email AS "userEmail",
		       u.user_phone AS "userPhone",
		       u.user_id AS "userId",
		       u.user_name AS "userName",
		       u.user_address AS "userAddress",
		       s.staff_id AS "staffId",
		       s.work_place AS "workPlace",
		       s.work_status AS "workStatus",
		       a.authority_name AS "authorityName"
		FROM users u
		JOIN staff s ON u.user_id = s.user_id
		JOIN user_authority a ON u.user_id = a.user_id
		WHERE a.authority_name IN ('ROLE_CODI') AND s.work_status = 0
	</select>
	
	<update id="updateStaffStatus" parameterType="long">
	    UPDATE staff
	    SET work_status = CASE
	        WHEN work_status = 0 THEN 1
	        WHEN work_status = 1 THEN 0
	    END
	    WHERE staff_id = #{staffId}
	</update>
	
	<!-- 담당기사  전체조회  -->
	<select id="selectAllDriverList" resultType="com.meta.metaway.admin.dto.AdminStaffDTO">
		SELECT u.user_email AS "userEmail",
		       u.user_phone AS "userPhone",
		       u.user_id AS "userId",		       
		       u.user_name AS "userName",
		       u.user_address AS "userAddress",
		       s.staff_id AS "staffId",
		       s.work_place AS "workPlace",
		       s.work_status AS "workStatus",
		       a.authority_name AS "authorityName"
		FROM users u
		JOIN staff s ON u.user_id = s.user_id
		JOIN user_authority a ON u.user_id = a.user_id
		WHERE a.authority_name IN ('ROLE_DRIVER') AND s.work_status = 0
	</select>
	
	<!-- 시퀀스대용  -->
	<select id="getNextMaxOrderDetailId" resultType="int">
    	 SELECT COALESCE(max(order_detail_id), 0) + 1 FROM order_detail
    </select>
	 
	 
	<!-- 주문에 대한 일정조회  -->
	  <select id="selectListScheduleStaff" parameterType="long" resultType="com.meta.metaway.admin.dto.AdminScheduleStaffDTO">
	    	SELECT
			    s.schedule_id AS "scheduleId",
			    s.visit_date AS "visitDate",
			    s.visit_cycle AS "visitCycle",
			    s.visit_type AS "visitType",
			    s.visit_state AS "visitState",
			    s.staff_id AS "staffId",
			    s.user_id AS "userId",
			    s.order_id AS "orderId",
			    f.work_place AS "workPlace",
			    f.work_status AS "workStatus",
			    u.user_name AS "userName",
			    ua.authority_name AS "authorityName"
			FROM
			    schedule s
			    INNER JOIN staff f ON f.staff_id = s.staff_id
			    INNER JOIN users u ON u.user_id = f.user_id
			    LEFT JOIN user_authority ua ON ua.user_id = u.user_id AND (ua.authority_name = 'ROLE_CODI' OR ua.authority_name = 'ROLE_DRIVER')
			WHERE
			    s.order_id = #{orderId}
 	    </select>
 	    
 	    
 	    <!-- 배정 삭제 -->
 	    <delete id ="deleteSchedule" parameterType="long">
	    	delete from schedule
			where order_id = #{orderId} and staff_id =#{staffId}
	    </delete>
	    
		<select id="getSoldRankProductWithoutImage" resultType="com.meta.metaway.admin.dto.SoldRankDTO" parameterType="int">
		    <![CDATA[
		    SELECT
		        p.product_id AS productId,
		        p.product_name AS productName,
		        COUNT(od.order_detail_id) AS totalSales,
		        RANK() OVER (PARTITION BY p.product_id ORDER BY COUNT(od.order_detail_id) DESC) AS salesRank
		    FROM
		        product p
		    JOIN
		        order_detail od ON p.product_id = od.product_id
		    JOIN
		        orders o ON od.order_id = o.order_id
		    WHERE
		        o.order_state = #{orderState}
		    GROUP BY
		        p.product_id, p.product_name
		    ORDER BY
		        COUNT(od.order_detail_id) DESC
		    ]]>
		</select>
	    
	    

		<select id="getSoldRankProductWithImage" resultType="com.meta.metaway.admin.dto.SoldRankDTO" parameterType="int">
		    <![CDATA[
		    SELECT
		        p.product_id AS productId,
		        p.product_name AS productName,
		        COUNT(od.order_detail_id) AS totalSales,
		        RANK() OVER (PARTITION BY p.product_id ORDER BY COUNT(od.order_detail_id) DESC) AS salesRank,
		        pf.uuid_name AS uuidName,
		        pf.file_path AS filePath,
		        pf.file_name AS fileName
		    FROM
		        product p
		    JOIN
		        order_detail od ON p.product_id = od.product_id
		    JOIN
		        orders o ON od.order_id = o.order_id
		    LEFT JOIN
		        product_file pf ON p.product_id = pf.product_id -- 이미지 정보 조인
		    WHERE
		        o.order_state = #{orderState}
		    GROUP BY
		        p.product_id, p.product_name, pf.uuid_name, pf.file_path, pf.file_name
		    ORDER BY
		        COUNT(od.order_detail_id) DESC
		    ]]>
		</select>


		<!-- 판매 통계 조회 -->
		<select id="getSalesStatistics" resultType="java.math.BigDecimal">
		    SELECT SUM(pf.file_size) AS totalSalesPrice
		    FROM product p
		    JOIN order_detail od ON p.product_id = od.product_id
		    JOIN orders o ON od.order_id = o.order_id
		    LEFT JOIN product_file pf ON p.product_id = pf.product_id
		    WHERE o.order_state = #{orderState}
		</select>
		
		<!-- 총 판매 갯수 조회 -->
		<select id="getTotalSalesCount" resultType="int">
		    SELECT COUNT(od.order_detail_id) AS totalSalesCount
		    FROM product p
		    JOIN order_detail od ON p.product_id = od.product_id
		    JOIN orders o ON od.order_id = o.order_id
		    WHERE o.order_state = #{orderState}
		</select>
		
		<select id="getTotalUser" resultMap="TotalUser">
		    <![CDATA[
		    SELECT
		        COUNT(u.user_id) AS totalAllCount,
		        COUNT(CASE WHEN ua.authority_name = 'ROLE_USER' THEN u.user_id END) AS totalUserCount,
		        COUNT(CASE WHEN ua.authority_name = 'ROLE_CODI' THEN u.user_id END) AS totalCodiCount,
		        COUNT(CASE WHEN ua.authority_name = 'ROLE_DRIVER' THEN u.user_id END) AS totalDriverCount
		    FROM
		        users u
		    LEFT JOIN
		        user_authority ua ON u.user_id = ua.user_id
		    ]]>
		</select>

		
		<resultMap id="TotalUser" type="com.meta.metaway.admin.dto.UserCountDTO">
		    <result property="totalAllCount" column="totalAllCount"/>
		    <result property="totalUserCount" column="totalUserCount"/>
		    <result property="totalCodiCount" column="totalCodiCount"/>
		    <result property="totalDriverCount" column="totalDriverCount"/>
		</resultMap>
		
		<!-- 날짜별 방문자 수 -->
		<select id="getVisitorCountByDate" resultType="Long">
		    SELECT VISITOR_COUNT
		    FROM VISITOR
		    WHERE VISIT_DATE = #{visitDate}
		</select>
		 
		 <!-- 평균 방문자 수 -->
		<select id="getOverallAverageVisitorCount" resultType="Double">
		    SELECT AVG(VISITOR_COUNT)
		    FROM VISITOR
		</select>
		
		<!-- 방문자 수 11시 59분에 디비에 저장 -->
		<insert id="insertViewCount" parameterType="com.meta.metaway.admin.model.Visitor">
	        INSERT INTO VISITOR (VISITOR_ID, VISIT_DATE, VISITOR_COUNT)
	        VALUES (#{visitorId}, #{visitDate}, #{visitorCount})
	    </insert>
	    
	    
        <select id="selectViewMaxNo" resultType="long">
		<![CDATA[
			SELECT COALESCE(MAX(VISITOR_ID), 0) + 1 AS "visitorId" FROM VISITOR;
		]]>
		</select>	
		
		<select id="dashBoardOrderList" resultType="com.meta.metaway.admin.dto.AdminOrderDTO">
		    <![CDATA[
		    SELECT
		        order_id AS orderId,
		        user_id AS userId,
		        order_content AS orderContent,
		        order_date AS orderDate,
		        request_date AS requestDate,
		        order_name AS orderName,
		        order_state AS orderState,
		        order_address AS orderAddress, 
		        order_price AS orderPrice,
		        rental_price AS rentalPrice
		    FROM orders
		    WHERE ROWNUM <= 7
		    ORDER BY order_id DESC
		    ]]>
		</select>
		
		<select id="getUsersWithCodi" resultType="com.meta.metaway.staff.dto.StaffDTO">
	        SELECT u.user_id as user_id, u.user_name as user_name
	        FROM users u
	        JOIN user_authority ua ON u.user_id = ua.user_id
	        JOIN authority a ON ua.authority_name = a.authority_name
	        WHERE a.authority_name = 'ROLE_CODI'
	    </select>
		
<!-- 		  <select id="getUsersWithCodi" resultType="com.meta.metaway.staff.dto.StaffDTO">
		    SELECT u.user_name as userName, s.work_place as workPlace
		    FROM users u
		    JOIN user_authority ua ON u.user_id = ua.user_id
		    JOIN authority a ON ua.authority_name = a.authority_name
		    JOIN staff s ON u.user_id = s.user_id
		    WHERE a.authority_name = 'ROLE_CODI'
		  </select> -->



		 
</mapper>