@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 사진 슬라이드 */
.carousel-item > div > :nth-child(1) {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 28px;
}

.carousel-item > div > :nth-child(1) > :nth-child(2) {
    font-size: 30px;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}


.title_wrap {
  text-align: left;
  margin-top: 25px;
  margin-left: 25px;
  display: grid;
}

.title_wrap h2 {
  color: #333;
}

.more_btn {
  display: inline-block;
  padding: 3px 10px;
  font-size: 14px;
  color: #1b7cfc;
  text-decoration: none;
}

.tab_wrap {
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
}
/* 사진슬라이드 사진 */
.carousel-item img { 
  height: 600px;
}

.tab_wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.tabType_tabType {
  width: 30%;
}

.tabType_tabType ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabType_tabType li {
  margin-bottom: 10px;
}

.tab_btn {
  text-decoration: none;
  padding: 10px;
  color: #000000;
  border-radius: 5px;
  display: inline-block;
}

.product_info {
  width: 350px;
  position: absolute;
  margin-left: 300px;
}

.product {
  margin: 0 20px 20px 0;
  flex: 0 0 calc(50% - 20px); 
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

/* 그외 */
.table02 {
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
}

.onetop {
  font-family: 'Viga', sans-serif;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 8rem 0;
  margin-top: -60px;
  margin-bottom: 50px;
}

.onetop div section {
  margin-top: 3rem;
  width: 235px;
  height: 354px;
  position: relative;
  float: left;
  text-align: center; 
}

.onetop button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: white;
  border-radius: 20px;
}
.onetop button:hover {
  cursor: pointer;
}

.btn-btn {
	text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}



.onetop > div > :nth-child(1) {
  background: url('/images/coway9.jpeg') no-repeat;
  margin-right: 20px;
  background-size: 100% 100%;
}

.onetop > div > :nth-child(2) {
  background: url('/images/coway4.jpg') no-repeat;
  margin-right: 20px;
  background-size: 100% 100%;
}

.onetop > div > :nth-child(3) {
  background: url('/images/coway11.jpeg') no-repeat;
  margin-right: 20px;
  background-size: 100% 100%;
}

.onetop > div > :nth-child(4) {
  background: url('/images/coway12.jpeg') no-repeat;
  background-size: 100% 100%;
}

.onetop section div {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center; 
}

.onetop section div a{
  text-decoration: none;
  color: #fff;
}

.blank{
  clear: both;
  width: 100%;
  height:50px;
  background: white;
}

/* mind */

.mind {
  
  background: url('/images/bgwater.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 700px;
  position: relative;
  min-width: 1000px;
}


.mind > div {
  width: 1000px;
  margin: 0 auto;
  padding: 7rem 0;
}

.mind .table02 {
  text-align: center;
  margin-bottom: 3rem;
}

.mind > div > div {
  display: flex;
  justify-content: space-between;
}

.mind section {
  width: 316px;
  background: rgba(255, 255, 255, 0.5);
  padding: 70px 35px;
}

.mind section:hover{
  cursor: pointer;
}

.mind section img {
  width: 100px;
  margin-bottom: 1rem;
}

.mind section h4 {
  line-height: 4rem;
  font-size: 1.5rem;
}

.mind section p {
  font-size: 1rem;
  line-height: 2rem;
}

.wireless {
    width: 100%;
    min-width: 1000px;
    background: url('/images/bing4.png') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    position: relative;
    margin-top: 70px;
}

.wireless > div > :nth-child(1) {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(0, -50%);
}

.wireless .tableh02 {
    letter-spacing: 10px;
}

.wireless > div > :nth-child(1) > :nth-child(2) {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.wireless .bt1 {
    display: flex;
    justify-content: space-between;
}

.wireless > div > :nth-child(2) {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 210px;
    position: absolute;
    z-index: 0;
    top: 70%;
}

.wireless > div > :nth-child(2) div {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 0;
    text-align: center;
    color : ghostwhite;
}

.wireless section img {
    width: 20px;
    margin-right: 8px;
}

.wireless .tableh01 {
    padding: 0.5rem 0;
}
.wireless .tableh01 img{
    width: 40px;
    filter: brightness(0) invert(1);
}

.wireless section span {
    font-size: 2rem;
}

.bt1 a{
	color: black;
}

