@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.join-form {
	 width: 550px;
  	padding: 8% 0 0;
  	margin: auto;
	margin-top: 150px;
	margin-bottom: 80px;
  border:1.3px solid rgb(153, 153, 153);
  border-radius: 20px; 
  padding: 30px;
  
  
}

.join-form form{
	text-align: left;
	margin-left: 100px;
}

.join-form  .form-group{
	margin-right: 150px;
}



.join-form h1{
	text-align: center;
	 font-family: 'Viga', sans-serif;
	 margin-bottom: 20px;
}

.join-form span{
	background: linear-gradient(to top, rgb(152, 221, 255) 50%, transparent 40%);
	
}

.join-box img{
	width: 30px;
	 filter: invert(25%);
}

.join-box input{
	width: 250px;
	border: none;
	border-bottom: 2px solid rgb(153, 153, 153);
	margin-bottom: 18px;
}


.join-box input:focus{
	 outline: none;
  border-bottom: 2px solid rgb(152, 221, 255);
}


#password {
	padding: 5px;
  	font-size: 16px;
}

input[type="password"] {
  font:small-caption;
  font-size:16px;
}

.submit-btn{
	width: 400px;
    background-color: #00B0E8;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: 1.3px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-left: -14%;
    margin-top: 20px;
}

#emailVerificationCode{
	margin-left: 40px;
}

.successEmailChk{
	margin-left: 40px;
}
.submit-btn:focus{
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}



#sendVerificationEmail{
    background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1.3px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#accountCheck{
    background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1.3px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#emailVerificationBtn{
    background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1.3px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-address{
	background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1.3px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group .form-control{
		width: 360px;
		margin-left: -20px;
		margin-bottom: 10px;
}