#wrap{
	display: grid;
	width: 100%;
	height: auto;
	
	padding-top: 150px;
	margin-bottom: 50px;
}
#orderForm{
	display: flex;
	margin: 0 auto;
	
	
}
.headerText{
	font-size: 34px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 40px;
}

#orderDiv1{
	
	width: 500px;
	height: 580px;
	border: 1px solid darkgray;
	border-radius: 10px;	
	padding: 40px;
}

.headerText span{
	box-shadow: inset 0 -20px 0 rgb(167, 233, 255);
}
.headerText img{
	height: 50px;
}
#orderDiv2{
	width: 300px;
	height: 450px;
	padding: 40px;
	border: 1px solid darkgray;
	border-radius: 10px;	
	margin-left: 20px;
	text-align: center;
	
}

#productImage{
	width: 80%;
}

#iamgeBox{
	width: 100%;
	height: 200px;
}
#productText{
	margin-top: 20px;
	font-size: 20px;
}
.modelText {
	color: darkgray;
	font-size: 16px;
}

.priceTextDiv{
	display: flex;
	justify-content: space-between;
	padding: 0 20px 0 20px;    
}

.priceTextSpan{
	color: deepskyblue;
	font-weight: bold;
}
.order-text{
	margin-top: 10px;
}
.order-text span{
	color: rgb(0, 234, 255);
}

/*btn*/
.submit-btn {
	 width: 280px;
    background-color: #00B0E8;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: 1.3px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-top: 24px;
    margin-left: -30px;
}
}

.order-text{
	margin-top: 10px;
}