#wrap{
	display: grid;
	width: 100%;
	height: auto;
	
	padding-top: 150px;
	margin-bottom: 50px;
}
#orderForm{
	display: flex;
	margin: 0 auto;
	
	
}
.headerText{
	font-size: 34px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 40px;
}

#orderDiv1{
	
	width: 500px;
	height: 580px;
	border: 1px solid darkgray;
	border-radius: 10px;	
	padding: 40px;
}

.headerText span{
	box-shadow: inset 0 -20px 0 rgb(167, 233, 255);
}
.headerText img{
	height: 50px;
}
#orderDiv2{
	width: 300px;
	height: 450px;
	padding: 40px;
	border: 1px solid darkgray;
	border-radius: 10px;	
	margin-left: 20px;
	text-align: center;
	
}

#productImage{
	width: 80%;
}

#iamgeBox{
	width: 100%;
	height: 200px;
}
#productText{
	margin-top: 20px;
	font-size: 20px;
}
.modelText {
	color: darkgray;
	font-size: 16px;
}

.priceTextDiv{
	display: flex;
	justify-content: space-between;
	padding: 0 20px 0 20px;    
}

.priceTextSpan{
	color: deepskyblue;
	font-weight: bold;
}

/*btn*/
.submit-btn {
	margin-top: 13px;
	width: 200px;
  padding: 12px 26px;
  border: 0;
  font-size: 16px;
  transition: all 150ms ease-in-out;
  border-radius: 14px;
  font-weight: 600;
  color: #000;
  background:rgb(123, 214, 244);
}

.bsubmit-btn:hover {
  background: #f9f9f9;
}

.submit-btn:active {
  transform: scale(.95);
}

.order-text{
	margin-top: 10px;
}