#wrap {
   width: 100%;
   height: 1500px;
   padding: 150px 0 50px 0;
   margin-top: -50px;
}

/*이미지 슬라이드*/
.carousel-item > div > :nth-child(1) {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 20%;
    transform: translate(0, -50%);
    font-size: 28px;
}

.carousel-item > div > :nth-child(1) > :nth-child(2) {
    font-size: 30px;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.carousel-item img { 
  height: 400px;
}


#buyBox{
   width: 100%;
   height: auto;
   margin-top: 60px;
}

.buyProduct{
   background-color: whitesmoke;
   width: 250px;
   height: 500px;
   display: inline-block;
   margin-left: 50px;
   border-radius: 10px;
   text-decoration: none;
   color: inherit;
}

.productImage{
   width: 100%;
   height: auto;
}
#functionBox{
   width: 100%;
   height: 50px;
   text-align: center;
}

.function{
   display: inline-block;
}

.Productdetail{
   height: 30px;
   width: 100%;
   padding-left: 30px;
}

.productModel{
   font-size: 12px;   
}
.productName{
   font-size: 20px;
   font-weight: bold;
}
.priceBox {
   margin-top: 30px;
}
.spanText1, .spanText2{
   margin-left: 50px;
   font-weight: bold;
}
.redButton{
   margin-top: 30px;
}

#admin{
   margin: 20px 30px 30px 30px;
}


.spanText1 {
   color: deepskyblue;
}


