<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/src/main/resources/static/js/includeHTML.js"></script>
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/src/main/resources/static/css/index.css">
    <title>main</title>
</head>
<index-body>
    <!-- header include -->
    <header include-html="./include/header.html"></header>

    <!-- 사진 슬라이드 -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/src/main/resources/static/images/bing4.png" class="d-block w-100" style="max-height: 550px;" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="/src/main/resources/static/images/coway10.png" class="d-block w-100" style="max-height: 550px;" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img src="/src/main/resources/static/images/coway9.png" class="d-block w-100" style="max-height: 550px;" alt="Second slide">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <article class="blank"></article>

<!-- text -->
    <article class="mind">
      <div>
          <p class="table02">메타웨이는 ?</p>
          <div>
              <section>
                  <img src="/src/main/resources/static/images/maintenace.png">
                  <h4>편리성과 품질</h4>
                  <p>뛰어난 편리성과 높은 품질<br>
                      신선하고 깨끗한 물</p>
              </section>
              <section>
                  <img src="/src/main/resources/static/images/eco.png">
                  <h4>친환경적인 선택</h4>
                  <p>친환경적인 렌탈 옵션 <br>지속가능한 선택을 통한 지구 보호!</p>
                </section>
                <section>
                  <img src="/src/main/resources/static/images/quality.png">
                <h4>전문 서비스와 유지보수</h4>
                <p>탁월한 서비스와 함께 정수기 렌탈 <br>
                    정기적인 유지보수로 항상 최상의 상태 유지</p>
            </section>
          </div>
      </div>
  </article>

    <!-- bset 4-->
    <article class="onetop">
      <p class="table02">베스트 상품</p>
      <div>
          <section>
              <div>
                  <h5>냉온 정수기</h5>
                  냉온 정수기 
                  <button><a href="#">바로가기</a></button>
              </div>
          </section>
          <section>
              <div>
                  <h5>온 정수기</h5>
                  온 정수기 
                  <button><a href="#">바로가기</a></button>
              </div>
          </section>
          <section>
              <div>
                  <h5>탄산 정수기</h5>
                  보글보글 탄산 정수기
                  <button><a href="#">바로가기</a></button>
              </div>
          </section>
          <section>
              <div>
                  <h5>얼음 정수기</h5>
                  앗 차가워 얼음 정수기
                  <button><a href="#">바로가기</a></button>
              </div>
          </section>
      </div>
  </article>

  <article class="blank"></article>

    </div>
</div>
    </div>

    <!-- footer include -->
    <footer include-html="./include/footer.html"></footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script>
        includeHTML();

    </script>
</index-body>
</html>
