<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<title>Metaway</title>
</head>

<header th:replace="~{/include/header.html}"></header>

<index-body>
    <!-- header include -->
    <header include-html="header.html"></header>

    <!-- 사진 슬라이드 -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
				<div class="text_item-1">
	
               		<p><strong>icon 정수기2</strong><br>
                   편의 기능 업그레이드 ! </p>

				</div>
                <img src="images/metaway4.png" class="d-block w-100" style="max-height: 550px;" alt="First slide">
            </div>
               
            <div class="carousel-item">
				<div class="text_item-2">
					<p style="color:#fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">이제까지 없던 맑고 깨끗한 물의<br> 풍미를 즐겨보세요.</p>
					</div>
                <img src="images/metaway3.jpg" class="d-block w-100" style="max-height: 550px;" alt="Second slide">
            </div>
            <div class="carousel-item">
				<div class="text_item-3">
					<p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); margin-left: 170px;">취항에 맞춰 추출하는 스파클링 워터<br>
						AIS(아이스)정수기
					</p>

					</div>
              <img src="images/metaway5.png" class="d-block w-100" style="max-height: 550px;" alt="Second slide">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <article class="blank"></article>

<!-- text -->
    <article class="mind" id="waterInfo">
      <div>
          <p class="table02">메타웨이는 ?</p>
          <div>
              <section>
                  <img src="images/maintenace.png">
                  <h4>편리성과 품질</h4>
                  <p>뛰어난 편리성과 높은 품질<br>
                      신선하고 깨끗한 물</p>
              </section>
              <section>
                  <img src="images/eco.png">
                  <h4>친환경적인 선택</h4>
                  <p>친환경적인 렌탈 옵션 <br>지속가능한 선택을 통한 지구 보호!</p>
                </section>
                <section>
                  <img src="images/quality.png">
                <h4>전문 서비스와 유지보수</h4>
                <p>탁월한 서비스와 함께 정수기 렌탈 <br>
                    정기적인 유지보수로 항상 최상의 상태 유지</p>
            </section>
          </div>
      </div>
  </article>

    <!-- bset 4-->
    <article class="onetop" id="bestProduct">
      <p class="table02">베스트 상품</p>
      <div>
          <section>
              <div>
                  <h5><strong>냉온 정수기</strong></h5>
                  싱큼한 여름, 포근한 겨울!
                  <button class="btn-btn"><a href="@{http://localhost:8082/product}">바로가기 -></a></button>
              </div>
          </section>
          <section>
              <div>
                  <h5><strong>온 정수기</strong></h5>
                   다양한 온도 설정이 가능!
                  <button class="btn-btn"><a href="#">바로가기 -></a></button>
              </div>
          </section>
          <section>
              <div>
                   <h5><strong>탄산 정수기</strong></h5>
             		간편하게 탄산음료를!
                  <button class="btn-btn"><a href="#">바로가기 -></a></button>
              </div>
          </section>
          <section>
              <div>
                   <h5><strong>얼음 정수기</strong></h5>
                   신선한 얼음이 자동으로!
                  <button class="btn-btn"><a href="#">바로가기 -></a></button>
              </div>
          </section>
      </div>
 	 </article>
  
   <article class="blank"></article>
  
      <article class="wireless" id="footer">
        <div>
            <div>
                <p class="tableh02">QUENCH <br>YOUR THIRTH WITH <br>METAWAY</p>
                <p>Metaway로 갈증을 해소하세요! <br>
                   전에 없던 맑고 깨끗한 물의 맛을 경험해보세요.</p>
                <div class="bt1">
					<a href="/product">shop now </a>            
                </div>
            </div>
            <div>
                <div>
                    <section>
						 <p class="tableh05">HEALTHY</p>
                        <p class="tableh01"><img src="images/water3.png"></p>
                        신선하고 탁월하게
                    </section>
                    <section>
                        <p class="tableh05">CONVENIENCE</p>
                        <p class="tableh01"><img src="images/hand.png"></p>
                        터치 스크린 인터페이스로 손쉽게
                    </section>
                    <section>
                        <p class="tableh05">APPLICATION</p>
                        <p class="tableh01"><img src="images/home.png"></p>
                        오피스에서 언제든 편하게
                    </section>
                </div>
            </div>
        </div>
    </article>



    </div>
</div>
    </div>

    <!-- footer include -->
	<footer th:replace="~{/include/footer.html}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script>
        includeHTML();

    </script>

</index-body>
</html>